body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe WPC", "Segoe UI", "Ubuntu", "Droid Sans", sans-serif;
	font-size: 1rem;
	line-height: 1.5;
	padding: 0 1rem;
	word-wrap: break-word;
	overflow-x: hidden;
}

h1, h2, h3 {
	font-weight: normal;
	text-align: center;
}

h1 {
	padding-bottom: 0.3em;
	line-height: 1.2;
	border-bottom: 1px solid #ccc;
}

h2 {
	margin-top: 2rem;
}

h3 {
	margin-top: 1.5rem;
}

.intro {
	text-align: center;
}

.tabs {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 0.5rem;
	margin-bottom: 1rem;
}

.tab-button {
	padding: 0.5rem 1rem;
	border: none;
	background-color: #102634;
	color: white;
	cursor: pointer;
	font-size: 1rem;
	border-radius: 5px;
}

.tab-button:hover,
.tab-button.active {
	background-color: #005f99;
}

.tab-content {
	display: none;
	max-width: 100%;
	padding: 1rem;
	border-radius: 5px;
	background-color: #f8f8f8;
	margin-bottom: 1rem;
}

.tab-content.active {
	display: block;
}

img.logo {
	display: block;
	margin: 1rem auto;
	width: auto;
	max-width: 90vw;
	max-height: 40vh;
	height: auto;
}

.nav {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	margin-top: 2rem;
}

.nav a {
	text-decoration: none;
	font-size: 1.2rem;
	padding: 0.75rem 1.5rem;
	background-color: #e0e0e0;
	border-radius: 0.5rem;
	color: #333;
	width: 100%;
	max-width: 400px;
	box-sizing: border-box;
	transition: background-color 0.2s ease;
}

.nav a:hover {
	background-color: #d0d0d0;
}

.tab-img {
	max-width: 100%;
	height: auto;
	display: block;
	margin: 1rem auto;
}

img {
	max-width: 100%;
	max-height: 100%;
	height: auto;
	margin: 1rem auto;
}

div img{ 
	display: inline-block;
	vertical-align: top;
}

a {
	text-decoration: none;
	color: #005f99;
}

a:hover {
	text-decoration: underline;
}

blockquote {
	padding-left: 10px;
	border-left: 3px solid #ccc;
}

table {
	border-collapse: collapse;
	width: 100%;
	margin-top: 1rem;
}

table th, table td {
	text-align: left;
	padding: 0.5rem;
	border-bottom: 1px solid #ccc;
}

table tbody tr + tr td {
	border-top: 1px solid #ccc;
}

@media (min-width: 768px) {
	body {
	font-size: 1.1rem;
	}

	.tab-content {
	max-width: 750px;
	margin: 0 auto 1rem;
	}
}